# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
out

.idea
*.iml

/web-app/dist/
/out

buildSrc/out
*.ipr
*.iws
.DS_Store

target/
bash.exe.stackdump

web-app/node_modules

web-app/dist
